.container {
    backdrop-filter: blur(10px);
    height: 90vh;
    width: 60vh;
    max-width: auto;
    max-height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #646cff;
    border-radius: 3px;
    justify-content: space-around;
    background-color: #3a3752;
    border-radius: 20px;
    margin: auto;
    padding: auto;
    align-items: center;
  }
  
  .container button {
    width: 80%;
    background-color: #3a3752;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid #a7d82c;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
    transition: #3a3752 250ms ease;
  }
  